<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - SalarySight</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>

        <button id="dark-mode-toggle" class="dark-mode-toggle">
            <i class="fas fa-moon"></i>
        </button>

    </nav>
        <div class="container">
            <strong><h1>About SalarySight</h1></strong>
        <p><a href="https://www.linkedin.com/in/adel-kayyali-082051293/" target="_blank"><strong>SalarySight</strong></a> is a tool designed to provide salary estimates in the United States based on job titles, company size, industry, and other factors. Our mission is to help job-seekers and employees make informed decisions about their career paths.</p>
        <p>Developed by <a href="https://www.linkedin.com/in/adel-kayyali-082051293/" target="_blank"><strong>Adel Kayyali</strong></a>, a data scientist and engineer, <a href="https://www.linkedin.com/in/adel-kayyali-082051293/" target="_blank"><strong>SalarySight</strong></a> uses advanced algorithms and up-to-date market data to predict compensation ranges. Our goal is to bring transparency to the job market and empower individuals with the knowledge they need to negotiate salaries confidently.</p>
    </div>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/adel-kayyali-082051293/" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/Adel-Kayyali" target="_blank" title="GitHub">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
    <script src="static/script.js"></script> <!-- Make sure this is the correct path to your script.js file -->
</body>
</html>
